.product-details {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

.product-details img {
  width: 250px;
  border-radius: 10px;
}

.product-details h2 {
  margin-bottom: 1rem;
}
